<%= form_for(@item) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label 'Your First Name' %>
      <%= f.text_field :user_first_name %>
    </div>

    <div class="field">
      <%= f.label 'Your Last Name' %>
      <%= f.text_field :user_last_name %>
    </div>

    <div class="field">
      <%= f.label 'Your Email' %>
      <%= f.text_field :user_email %>
    </div>

    <div class="field">
      <div class="left-col">
        <div class="field">
          <div><%= f.radio_button :licence_id, '1' %> Free </div>
          <div><%= f.radio_button :licence_id, '2' %>  Attribution, Non-Commercial and Share-Alike</div>
        </div>

        <div class="field">
          <div>Licence Type:</div>
          <div><%= f.radio_button :whole_object, true %> Licence whole item</div>
          <div><%= f.radio_button :whole_object, false %> Licence a part of item</div>
        </div>
      </div>
      <div class="right-col">
        <div id="part_object">
          <div style="display: <%=@item.whole_object? ? 'none' : 'block'%>;">
            <%= f.label 'Which part' %>
            <%= f.text_area :part_object, :class => 'txt-area-small' %>
          </div>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= link_to 'Cancel', items_path, :class => 'btn custom large' %>
      <%= f.submit (@item.new_record? ? 'Create' : 'Update'), :class => 'btn btn-primary' %>
    </div>
<% end %>
