<% add_breadcrumb('...') %>

<div class="hero-unit">
  <h1>Open Product Repository</h1>
  <br/>
  <div>Welcome to the open product repository. Use this site to license your own items and find items that have been
    licensed.
  </div>
  <br/>
  <br/>
  <div><%= link_to 'Add Product', new_item_path, :class => 'btn btn-primary btn-large pull-right' %></div>
</div>


<div class="search-items-container">
  <div>
    <div><b>Search Products</b></div>
    <%= form_tag items_path, :method => :get do %>
        <p>
          <%= search_field_tag :name, params[:name], :placeholder => 'search', :class=> "auto_search_complete"%>
          <%= submit_tag "Search", :name => nil, :class => 'btn', :id => "btn_search" %>
        </p>
    <% end %>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Item Name</th>
      <th>Date Created</th>
      <th>Licensor Name</th>
      <th>Licence Type</th>
    </tr>

    <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item %></td>
          <td><%= item.created_at.strftime('%d %B %Y') %></td>
          <td><%= item.licensor_name %></td>
          <td><%= item.licence.name %></td>
        </tr>
    <% end %>
  </table>

</div>
