<% add_breadcrumb('Item details') %>

<br/>
<%= link_to 'Edit', edit_item_path(@item), :class => 'btn custom large edit-btn' %>
<h1><%= @item.name %></h1>
<br/>

<div class="field">
  <%= label_tag :description %>
  <%= @item.description %>
</div>
<br/>
<div class="field">
  <%= label_tag 'User first name' %>
  <%= @item.user_first_name %>
</div>
<br/>
<div class="field">
  <%= label_tag 'User last name' %>
  <%= @item.user_last_name %>
</div>
<br/>
<div class="field">
  <%= label_tag 'User email' %>
  <%= @item.user_email %>
</div>
<br/>
<div class="field">
  <%= label_tag 'Licence Type' %>
  <%= @item.licence.name %>
</div>
<br/>
<div>
  <h2>Licence </h2>
  <br/>
  <%= @item.licence.licence %>
</div>